@font-face {
  font-family: JetBrainsMono;
  src: url(JetBrainsMono-Regular.woff2);
}

body {
  margin: 0;
  font-family: "JetBrainsMono";
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #003060;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.main {
  margin-left: 15%;
  padding: 1px 16px;
}

div.center {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.container {
  max-width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.row, div.form-row {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
}

label{
  text-align:left;
  color: #003060;
}

textarea, select {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 3px solid #003060;
  resize: none !important;
}

input[type = text], select {
	background-color:white;
	color:#003060;
	border: none;
  border: 3px solid #003060; 
	width: 100%;
}

button{
  background-color:#003060;
	color:white;
  font-size: 18;
	border: none;
  border: 2px solid #003060;
	width: 28%;
	padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
	padding-left: 10px;
  font-family: "JetBrainsMono";
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.main {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}