name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main","dev" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Ubuntu PHP
      run: sudo apt-get update && sudo apt-get install -y php composer php-curl php-mysql php-mbstring php-zip php-dom php-gd php-redis

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Server Up
      run: php -S localhost:8888 -t ./public/&

    - name: Tests
      run: ./vendor/bin/phpunit ./tests/integration/PingTest.php

    - name: Ubuntu
      run: docker -v

